{% extends 'base.html' %}
{% block head_title %}{{ title }}{% endblock %}
{% block content %}
<div class="my-10 py-3 px-4 bg-white rounded-xl shadow-md">
  <h1 class="font-bold text-3xl text-center pb-5 pt-2">Transfer Amount</h1>
  <hr />
  <form method="post" action="{% url 'transfer' %}" class="mt-8">
    {% csrf_token %}
    <div class="mb-4">
      <label for="recipient_account_no" class="block text-sm font-medium text-gray-700">Recipient Account Number</label>
      <input type="number" name="recipient_account_no" required class="mt-1 block w-full p-2 border border-gray-300 rounded-md" placeholder="Enter recipient's account number">
    </div>
    <div class="mb-4">
      <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
      <input type="number" name="amount" step="0.01" required class="mt-1 block w-full p-2 border border-gray-300 rounded-md" placeholder="Enter amount to transfer">
    </div>
    <div class="flex w-full justify-center">
        <button class="bg-blue-900 text-white hover:text-blue-900 hover:bg-white border border-blue-900 font-bold px-4 py-2 rounded-lg" type="submit">
            Transfer
    </button>
  </div>
  </form>
</div>
{% endblock %}
